<section class="container px-5 mb-5">
    <h3 class="mb-3" style="color: var(--strongerText);">Acerca de mí</h3>
    <div class="row">
        <img class="col-12"  style="border-radius:5px;" src="/estebanPortafolio.github.io/images/aboutMe.png" alt="">
    </div>

</section>




