    <section class="container px-5">
        <form class="py-5" action="https://formsubmit.co/90d337db70dd95302fa5f76960bc1137" method="POST">
    
            <h4 class="pt-3 mt-3 text-center">Contáctame</h4>
        
    
    
          <div class="containter px-5 mx-md-5">
            <div class="my-3">
            
                <input type="text" class="form-control infoC" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre" name="name" required>
               
              </div>
      
              <div class="mb-3">
                  <input type="email" class="form-control infoC" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo electrónico" name="email" required>
               
              </div>
      
              <div class="mb-5">
                  <textarea name="message"  class="form-control infoC" id=""  placeholder="Mensaje" rows="8"></textarea>
        
              </div>
      
              <div class="d-flex justify-content-center">
                  <button class="btn btns">Enviar</button>
              </div>
          </div>

          <input type="hidden" name="_next" value="http://localhost:4321/" >
          <input type="hidden" name="_captcha" value="false" >
           
          </form>
    </section>


    <style>
        .btns{
            height: 36px;
            width: 146px;
            border-radius: 15px;
            background-color: var(--strongerText);
            transition: .3s;
            
        }

        .btns:hover{
            opacity: .9;
        }


        form input, form textarea{
            background-color: transparent;
            border: 1px solid var(--strongerText);
        }

        h4{
            color: var(--strongerText);
        }

        input:focus, textarea:focus {
             border: var(--strongerText); 
             color: var(--mainText);
             box-shadow: none;
             
        }

        input:not(:focus), textarea:not(:focus) {
            color: var(--secondaryText); /* Cambia al color deseado */
        }

        textarea::placeholder, input::placeholder {
          color: var(--secondaryText);  
        }
    </style>