    <section class="container px-5">
        <form class="pt-4">
    
            <h4 class="pt-4 mt-4 text-center">Contáctame</h4>
        
    
    
          <div class="containter px-5 mx-md-5">
            <div class="my-3">
            
                <input type="text" class="form-control infoC" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre" required>
               
              </div>
      
              <div class="mb-3">
                  <input type="email" class="form-control infoC" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo electrónico" required>
               
              </div>
      
              <div class="mb-5">
                  <textarea name=""  class="form-control infoC" id="" placeholder="Mensaje"></textarea>
        
              </div>
      
              <div class="d-flex justify-content-center">
                  <a  class="btn btns">Enviar</a>
              </div>
          </div>
           
          </form>
    </section>


    <style>
        .btns{
            height: 36px;
            width: 146px;
            border-radius: 15px;
            background-color: var(--strongerText);
            
        }


        form input, form textarea{
            background-color: transparent;
            border: 1px solid var(--strongerText);
        }

        h4{
            color: var(--strongerText);
        }
    </style>